.search-bar {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.game-list-container {
    overflow: scroll;
    height: 70vh;
}

.game-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.game-card {
    height: 15vh;
}

.loading {
    display: none;
}

.end-of-results {
    display: none;
}
