{% extends 'base.html' %}

{% block title %}Library{% endblock %}
{% block active_library %}active{% endblock %}
{% load static %}

{% block content %}

    <div class="container search-container">
        <div class="input-group input-group-lg search-bar mb-4">
            <input type="text" name="query" class="search-text form-control" aria-label="Sizing example input"
                   placeholder="Search...">
            <button class="btn btn-primary search-button">
                Search
            </button>
        </div>

        <div class="row mb-1">
            <div class="col-md-4 d-flex align-items-center mb-2">
                <div class="d-flex align-items-center flex-grow-1 me-2">
                    <select class="form-select form-select-sm" id="sort" name="sort">
                        <option value="game__name">Sort by Name</option>
                        <option value="game__relevance">Sort by Relevance</option>
                        <option value="rating">Sort by Review</option>
                        <option value="num_completions">Sort by Number of completions</option>
                        <option value="hours_played">Sort by Hours played</option>
                    </select>
                    <button class="btn btn-outline-primary btn-sm ms-2 order-button">
                        <i class="bi bi-arrow-down" id="order-button-icon"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-8 d-flex align-items-center mb-2">
                <div class="me-2">
                    <input type="number" class="form-control form-control-sm" id="min-rating" name="min_rating"
                           placeholder="Min Rating">
                </div>
                <div class="me-2">
                    <input type="number" class="form-control form-control-sm" id="min-hours" name="min_hours"
                           placeholder="Min Hours">
                </div>
                <div>
                    <select class="form-select form-select-sm" id="status" name="status">
                        <option value="" selected disabled>Completion Status</option>
                        <option value="">-</option>
                        <option value="playing">Playing</option>
                        <option value="completed">Completed</option>
                        <option value="retired">Retired</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col text-start">
                <button class="btn btn-primary btn-sm apply-filters-button">
                    Apply filters
                </button>
            </div>
        </div>
    </div>

    <div class="container library-container">
        <div class="library-list"></div>
        <nav aria-label="Page navigation">
            <div class="pagination"></div>
        </nav>
    </div>
    <script src="{% static 'library.js' %}"></script>

{% endblock %}
