{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}
{% block active_search %}active{% endblock %}

{% block content %}
    <div class="container search-container">
        <form method="get" action="{% url 'main:search' %}">
            <div class="input-group input-group-lg search-bar">
                <input type="text" name="query" class="form-control" aria-label="Sizing example input"
                       placeholder="Search...">
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </div>
        </form>

        {% if error_length %}
            <h3>Please enter at least 3 characters.</h3>
        {% endif %}

        <div class="game-list-container">
            <div class="game-list"></div>
            <div class="loading">
                <h2>loading...</h2>
            </div>
        </div>

        <script src="{% static 'ajax_search.js' %}"></script>
        {% if query %}
            <script>init("{{ query }}")</script>
        {% endif %}
    </div>
{% endblock %}
